html,body {
  margin: 0;
  padding: 0;
  
  height:100%;
  
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.right{
  display:inline-block;
}

.menu {
  justify-content: center;
}


#landingpageleft{
  background-color: aqua;
  height:500px;
  text-align:center;
  background-image: url("./marble.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*background-image: linear-gradient(to //right, aqua , white);*/
#landingpageright{
  background-color:#b3fff0;
}

#landingpageparent{
  height:100%;
  margin-top:100px;
  border:1px solid #b3ccff;
  text-align:center;
}
.ui vertically divided grid{
  height:100%;
}
.feedstyle:nth-child(even){
  background-color:#ccffff;
}

.feedstyle:hover { 
  background-color:#99ffff;
}

#menubar{
  background-color: #b3ccff;
  border-bottom:1px solid grey;
}

.ui.card{
  width:100%;
}


